/*****************************
********自定义字体引入********
*****************************/

@font-face {
  font-family: YueHei;
  src:url("../fonts/YueHei.otf");
  font-weight: lighter;
}

/*****************************
***********全局样式***********
*****************************/
html,body {
  height: 100%;
  background: #4971D8;
  animation:bg-change 1s linear;
}
html,body,h1,h2,h3,h4,h5,h6,ul,li,a,p,span,i,b {
  font-family: YueHei;
  line-height: 1.5em;
  font-weight: lighter;
  color: white;
}

#LoadingBar {
  width: 100%;
  height: 100%;
  background-color: #4492f4;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*加载页*/
.nav {
  min-height: 100vh;
  text-align: center;
  overflow: hidden;
  color: white;
}
.nav_box {
  will-change: z-index, height;
  position: absolute;
  width: 20%;
  min-height: 100vh;
  /*设置元素的最小高度*/
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.nav_box:nth-child(1) {
  left: 0;
}
.nav_box:nth-child(2) {
  left: 20vw;
}
.nav_box:nth-child(3) {
  left: 40vw;
}
.nav_box:nth-child(4) {
  left: 60vw;
}
.nav_box:nth-child(5) {
  left: 80vw;
}
/*.class:nth-child(n):父元素的第n个子元素*/

.nav_box:nth-child(1) .nav_content {
  background: #8B9BFF;
  -webkit-transform: translate2d(-100%, 0);
          transform: translate2d(-100%, 0);
  -webkit-animation-name: strip1;
          animation-name: strip1;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.nav_box:nth-child(2) .nav_content {
 background: #5886EF;
  -webkit-transform: translate2d(0, 100%);
          transform: translate2d(0, 100%);
  -webkit-animation-name: strip2;
          animation-name: strip2;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.nav_box:nth-child(3) .nav_content {
  background: #4971D8;
  -webkit-transform: translate2d(0, -100%);
          transform: translate2d(0, -100%);
  -webkit-animation-name: strip3;
          animation-name: strip3;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.nav_box:nth-child(4) .nav_content {
  background: #2A52BE;
  -webkit-transform: translate2d(0, 100%);
          transform: translate2d(0, 100%);
  -webkit-animation-name: strip4;
          animation-name: strip4;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.nav_box:nth-child(5) .nav_content {
  background: #002FA7;
  -webkit-transform: translate2d(100%, 0);
          transform: translate2d(100%, 0);
  -webkit-animation-name: strip5;
          animation-name: strip5;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}


/****************************
**********响应式布局*********
*****************************/


@media screen and (max-width: 760px) {
  .nav_box {
    min-height: 20vh;
  }
  .nav_box:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
  }
  .nav_box:nth-child(2) {
    top: 20vh;
    left: 0;
    width: 100%;
  }
  .nav_box:nth-child(3) {
    top: 40vh;
    left: 0;
    width: 100%;
  }
  .nav_box:nth-child(4) {
    top: 60vh;
    left: 0;
    width: 100%;
  }
  .nav_box:nth-child(5) {
    top: 80vh;
    left: 0;
    width: 100%;
  }
}
.nav .nav_content {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
          animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
/*animation-fill-mode 属性规定动画在播放之前或之后，其动画效果是否可见。*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /*多栏多列布局*/
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*弹性盒子中内容居中设置*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.nav .nav_content:hover:before {
  -webkit-transform: skew(-30deg) scale(3) translate(0, 0);
          transform: skew(-30deg) scale(3) translate(0, 0);
  opacity: 0.1;
}
.nav .nav_content:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0.05;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: skew(-30deg) scaleY(1) translate(0, 0);
          transform: skew(-30deg) scaleY(1) translate(0, 0);
  -webkit-transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.nav .text {
  will-change: transform, opacity;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  width: 70%;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.nav_box_open {
  width: 100%;
  top: 0 !important;
  left: 0 !important;
  z-index: 3;
  cursor: default;
}
@media screen and (max-width: 760px) {
  .nav_box_open {
    min-height: 100vh;
  }
}
.nav_box_open .nav_content:hover:before {
  -webkit-transform: skew(-30deg) scale(1) translate(0, 0);
          transform: skew(-30deg) scale(1) translate(0, 0);
  opacity: 0.05;
}
.nav_box_open .title {
  opacity: 0;
}
.nav_box_open .text {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.title {
  display: block;
  position: relative;
  z-index: 2;
  width: 100%;
  font-size: 2.6vw;
  -webkit-transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.title span {
  font-size: 1.8vw;
}
@media screen and (max-width: 760px) {
  .title {
    font-size: 28px;
  }
}

.close {
  position: absolute;
  right: 3vw;
  top: 3vw;
  opacity: 0;
  z-index: 10;
  -webkit-transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.show {
  opacity: 1;
}


.round-out {
  background: #eee;
  width:180px;
  height:180px;
  border:2px solid #fff;
  border-radius:50%;
  overflow:hidden;
  position:relative;
  float: left;
  margin-left: 90px;
}
.round-in {
  width:100%;
  height:100%;
  position:absolute;
  bottom:0;
  left:0;
  height:0;
  background:#6F97F1;
}
.round-main {
  color:#111;
  font-size:20px;
  font-weight: lighter;
  position:absolute;
  bottom: 10%;
  text-align:center;
  width:100%;
}
.round-out .round-main img {
  width: 90px;
  height: 90px;
}

.round-out:hover {
  width: 200px;
  height: 200px;
  transition:all 1s ease;
}





/****************************
**********keyframes**********
*****************************/



@keyframes strip1 {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes strip2 {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes strip3 {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes strip4 {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes strip5 {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }


}@keyframes bg-change {
  0% {
    background: #DEE2FF;
  }
  100% {
    background: #4971D8;
  }
}

